* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #7993bbe1;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    /* margin-top: 10px; */
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 55vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3vmin;
}

.btn {
    height: 18vmin;
    width: 18vmin;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #ff0000a3;
}

#reset-btn {
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #000000c0;
    cursor: pointer;
    padding: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.msg-container {
    /* margin-top: 20px; */
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: #ff0000a3;
}

#msg {
    font-size: 1.8rem;
    color: #ffffff;
}

.hide {
    display: none;
}

#new-btn {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #000000c0;
    cursor: pointer;
    padding: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}